@media only screen and(max-width: 740px){
#wrapper{background: #f77;}

}

@media only screen and(max-width: 570px){
    #wrapper{background: #f77;}
}

@media only screen and(max-width: 480px){
    #wrapper{background: #f77;}
}

