html, button,input,select,textarea{
    color: #444;
}

html{
    font-size: 1em;
    line-height: 1.4;
}

body{
    font-family: Georgia;
    color: #444;
}

#wrapper {
    border: solid #666;
    border-width: 8px 0 2px 0; 
    background: #f5f5f5;
    max-width: 900px;
    min-width: 320px;
    padding: 10px 80px; margin: 80px auto;
}

button{
        height: 100px;
        width: 100%;
}



img{
    border : 1px , #ccc;
    border-radius: 80px;
    background-color: white;
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.2);
    margin-top: 1em;
}

h1 { font-size: 30px; text-transform: uppercase; letter-spacing: 2px; color: #333; font :bold 4em "Fira Sans", serif} 
h2 { font-size: 12px; text-transform: uppercase; letter-spacing: 2px; color: #333; font: italic 1.5em "Fira Sans", serif}
h3  { font-size: 10px; text-transform: uppercase; color: #333; font: 1.2em "Fira Sans", serif}
p { font-size: 100%; line-height: 18px; padding-right: 3em; line-height: 18px; font: 1.2em "Fira Sans", serif}
dt { font-size: 2px; color: #233714; font: 1.2em "Fira Sans", serif ; }
#pexp dd { font-size: 60%; line-height: 18px; padding-right: 3em; line-height: 18px; font: 1.2em "Fira Sans", serif; margin: 0;}
#bd {margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc;}
#bd, #ft { margin-bottom: 2em; }

#cor p{margin:0.3em; }

table, tr, td, thead, tbody {display: block!important;}
tr {float: left!important; width: 50%!important;}

button{
    background: #f5f5f5;
    border-width: 0px 0 0px 0; 
    padding: 10px 80px; 
    margin: 30px auto;
    color: #444;
    opacity: 1;
    border: solid rgb(206, 206, 206);
    border-width: 3px 1px;
   

}
.collapse{ 
    background: #f5f5f5;
    font-family: Georgia;
  
    
}

#fac{
  font-style: italic;
  margin-left: 5px;
  
  line-height: 10pt;
  
}

#titre { margin: 0; text-transform: uppercase; letter-spacing: 2px;}
#competences dt{ margin: 0;}
#me { margin-bottom: 1em; padding-bottom: 1em; margin-top: 1em;}
#ab {color: #181717}
.profile{margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }
.formation{margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }
.projets{margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }
#competences{margin-bottom: 2em; padding-bottom: 2em;  }

/*.langues{margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }*/

footer{
    margin-left: 14px;
    border-top: 1px solid #ccc; 
    
}

a:link , a:visited {
    text-decoration: none;
    color: #181717;
}

#textdiv {
  -webkit-animation: zoom1-2 infinite 100s;
          animation: zoom1-2 infinite 10s;
  -webkit-transform-origin:0 1;
          transform-origin:0 1.5 ;
  font-size:20px;
}
@-webkit-keyframes zoom1-2 {
  5% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}
@keyframes zoom1-2 {
  10% {
    -webkit-transform: scale(2.1);
            transform: scale(1.1);
  }
}

#textdiv {
  margin-left: 5px;
}
 



.tooltip
{
	position:absolute;
	background-color:#eeeefe;
	border: 1px solid #aaaaca;
	font-size: smaller;
	padding:4px;
	width: 160px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	
}


/*stars */
  .tooltip
  {
      position:absolute;
      background-color:#eeeefe;
      
      font-size: smaller;
      padding:4px;
      width: 160px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	
  }
body {
  margin-top: 50px;
  font-family: sans-serif;
  background: #f1f1f1;
}

table {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  font-size: 20px;
}

 
table th, 
table td {
  padding: 20px 50px;
}
 
table th {
  border-bottom: 1px solid ;
}     

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}




